*{
    box-sizing: border-box;
}
.container{
    background: green;
    color:white;
    padding: 50px;
    text-align: center;
    margin-inline:auto;
    width: min(60%, 70.5rem);
    display: flex;
    flex-direction: column;

}
.container button{
    background: black;
    color: white;
}
